<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-sanitize.js"></script>
<script src="/myCtrl.js"></script>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
    <title>Title</title>
</head>
<body ng-app="myApp" ng-controller="myCtrl">

<div id="myApp" class="parent">

    <div id="mw-panel" class="mw-panel">

        <div id="p-logo"><a class="wiki-logo" href="/" title="Visit the main page"></a></div>

        <div id="bookmark">
            <h3>Bookmarks</h3>
            <div id="bookmark-list">
                <ul>
                    <li ng-repeat="bookmark in bookmarks"><a href="/p/{{bookmark.info._id}}" title="{{bookmark.info.title}}">{{bookmark.info.title}}</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="right">


            <div id="mw-head" >
                <button ng-click="createPage()">Create New wiki</button>
                <button ng-click="bookmarkPage()">Bookmark wiki</button>
                <button ng-click="editPage()">Edit wiki</button>
            </div>

            <div id="mw-body" ng-show="showBody">
                <div id="title"></div>
                <div id="content"></div>
            </div>

            <div id="mw-edit" ng-show="showEdit">
                <div id="edit-header">
                    <button ng-click="savePage()">Save page</button>
                    <button ng-click="cancelEdit()">Cancel</button>
                </div>
                <div id="edit-title">
                    Title:
                    <input ng-model="title_edit">
                </div>
                <div id="edit-content">
                    <textarea rows="200" cols="150" ng-model="content_edit" placeholder="enter markdown here"></textarea>
                </div>
                <div id="edit-footer">
                    <button ng-click="savePage()">Save page</button>
                    <button ng-click="cancelEdit()">Cancel</button>
                </div>

            </div>
    </div>

</div>

</body>

</html>