.wiki-logo {
    background-image: url(/1.png)
}

@media (-webkit-min-device-pixel-ratio: 1.5),(min--moz-device-pixel-ratio: 1.5),(min-resolution: 1.5dppx),(min-resolution: 144dpi) {
    .wiki-logo {
        background-image: url(/1.png);
        background-size: 135px auto
    }
}

@media (-webkit-min-device-pixel-ratio: 2),(min--moz-device-pixel-ratio: 2),(min-resolution: 2dppx),(min-resolution: 192dpi) {
    .wiki-logo {
        background-image: url(/1.png);
        background-size: 135px auto
    }
}

#p-logo a {
    display: block;
    width: 10em;
    height: 160px;
    background-repeat: no-repeat;
    background-position: center center;
    text-decoration: none
}
#right {
    min-width: 50em;
    max-width: 100em;
}
#mw-head {
    border-style: transparent;
    padding: 1.25em 1.5em 1.5em 1.5em
}
#mw-body {
    border-style: transparent;
    padding: 3em 3em 3em 3em
}
#content {
    border-style: solid;
    padding: 1em 1em 1em 1em
}


.mw-panel {
    width: 10em;
    border-style: transparent;
    padding: 1.25em 1.5em 1.5em 1.5em
}
.parent {
    display: flex;
}

#mw-edit {
    border-style: solid;
}
#edit-header {
    border-style: transparent;
    background: grey;
    padding: 1.25em 1.0em 1.0em .25em
}
#edit-title {
    border-style: transparent;
    padding: 1.25em 1.0em 1.0em .25em
}
#edit-content {
    border-style: transparent;
    padding: 1.25em 1.0em 1.0em .25em
}
#edit-footer {
    border-style: transparent;
    background: grey;
    padding: 1.25em 1.0em 1.0em .25em
}


